@import "variables";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  background-color: #070707;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
}

// Home styling
#home {}
nav {
  color: $text-color;
  list-style: none;
  font-size: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

nav > ul > li {
  display: inline-block;
}

h1 {
  color: $text-color;
  font-size: 72px;
  text-align: center;
  margin-top: 150px;
}

.text {
  width: 100vw;
}

p {
  color: $text-color;
  text-align: center;
  font-size: 27px;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 15px;
  margin-bottom: 20px;
}

img {
  width: 100vw;
}

// About styling 

.text-box {
  @include textbox();
 }
 
 p {
   margin: 50px;
   text-align: justify;
 
 }
 
 .text-box-large {
  @include large-textbox();
 
   li {
     list-style-type: none;
     padding: 15px;
     padding-left: 65px;
     padding-top: 22px;
   }
 }
 








