@import "variables";

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  background-color: #070707;
  font-family: "Roboto", sans-serif;
  color: $text-color;
}

// Home styling

#home {
  padding-top: 50px;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: $text-color;
    list-style: none;
    font-size: 30px;
  }
}
@media (min-width: 769px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;

    .text {
      width: 45vw;

    }

    h1 {
      background-color: transparent;
    }

    p {
      background-color: transparent;
    }
    .image {
      width: 45vw;
    }
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
  }
}

.navigation {
  display: flex;
  justify-content: flex-end;

  li {
    display: inline-block;
  }

  a {
    position: relative;
    transition: 0.5s;
    text-decoration: none;
  }

  a:hover {
    color: rgb(118, 118, 118);
  }
}

h1 {
  color: $text-color;
  font-size: 68px;
  align-items: center;
  margin-left: 25px;
  margin-top: 150px;
  width: 450px;
  transition: 0.5s;
}

p {
  color: $text-color;
  text-align: center;
  width: 440px;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 18px;
  margin-bottom: 25px;
}

img {
  width: 485px;
}

// About styling
#about {
  padding-top: 30px;

  .text-box {
    @include textbox();
  }

  p {
    width: 80vw;
    margin: 50px;
    text-align: justify;
  }

  .text-box-large {
    @include large-textbox();

    .tech-stack {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 95vw;
    }

    li {
      list-style-type: none;
      padding: 15px;
      padding-left: 65px;
      padding-top: 22px;
    }
  }
}

// Portfolio styling

#portfolio {
  padding-top: 30px;

  .text-box {
    @include textbox();
  }
  .project-box {
    border: 1px solid $text-color;
    width: 100px;
    height: 100px;
    margin: 50px;
    padding: 20px;
  }

  .project-area {
    display: grid;

    grid-template-areas:
      "one two"
      "three four"
      "five six";
  }
  .box1 {
    grid-area: one;
  }
  .box2 {
    grid-area: two;
  }
  .box3 {
    grid-area: three;
  }
  .box4 {
    grid-area: four;
  }
  .box5 {
    grid-area: five;
  }
  .box6 {
    grid-area: six;
  }
}

#contact {
  padding-top: 30px;

  .text-box {
    @include textbox();
    margin-bottom: 100px;
  }
  .text-box-large {
    @include large-textbox();
    margin-bottom: 50px;

    .name-field {
      border: 1px solid $text-color;
      width: 130px;
      height: 20px;
      margin-top: 20px;
      padding: 10px;
      padding-right: 158px;
    }

    .email-field {
      border: 1px solid $text-color;
      width: 130px;
      height: 20px;
      padding: 10px;
      padding-right: 158px;
    }

    .message-field {
      border: 1px solid $text-color;
      width: 130px;
      height: 20px;
      padding: 10px;
      padding-right: 158px;
      padding-bottom: 100px;
    }

    .send {
      border: 1px solid $text-color;
      width: 60px;
      height: 30px;
      margin-top: 15px;
      margin-left: 120px;
      font-size: 18px;
    }
  }
}

footer {
  img {
    width: 120px;
    margin: auto;
  }

  .icon {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {

  header {
    h1 {
      background-color: transparent;
    }

    p {
      background-color: transparent;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    li {
      display: inline-block;
    }

    a {
      position: relative;
      transition: 0.5s;
      text-decoration: none;
    }

    a:hover {
      color: rgb(118, 118, 118);
    }
  }

  
}

@media (min-width: 769px) {

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;

    .text {
      width: 45vw;

    }

    h1 {
      margin-top: 250px;
      transition: 0.5s;
      background-color: transparent;
    }

    p {
      background-color: transparent;
    }
    .image {
      width: 45vw;
    }
  }

  .navigation li {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
  }
 
  #about {
    .text-box-large {
      width: 50vw;
    }
  }

  #portfolio {
    .project-area {
      display: grid;
      grid-template-areas:
        "one two three"
        "four five six";
    }
    .box1 {
      grid-area: one;
    }
    .box2 {
      grid-area: two;
    }
    .box3 {
      grid-area: three;
    }
    .box4 {
      grid-area: four;
    }
    .box5 {
      grid-area: five;
    }
    .box6 {
      grid-area: six;
    }
  }

  .form-box {
    display: flex;
    justify-content: center;
  }

}
